<a href="https://colab.research.google.com/github/rohandawar/PythonProgrammingforFinance/blob/main/PythonProgramingForFinance_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Import Libs
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
import yfinance as yf

In [2]:
# set the style
style.use('ggplot') # check for others

# set start & end
start = dt.datetime(2000,1,1)
end = dt.datetime(2016,12,31)

In [7]:
# get the data from Yahoo
df = yf.download('TSLA', start, end)
df.head()

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close     Volume
Date
2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000
2010-07-02  1.533333  1.540000  1.247333  1.280000   1.280000   77097000
2010-07-06  1.333333  1.333333  1.055333  1.074000   1.074000  103003500

In [8]:
df.tail(6)

                 Open       High        Low      Close  Adj Close    Volume
Date
2016-12-22  13.881333  13.999333  13.766667  13.896667  13.896667  46666500
2016-12-23  13.866667  14.230000  13.847333  14.222667  14.222667  70057500
2016-12-27  14.325333  14.816667  14.294667  14.635333  14.635333  88735500
2016-12-28  14.768667  14.920000  14.480000  14.649333  14.649333  56737500
2016-12-29  14.570667  14.613333  14.274667  14.312000  14.312000  60675000
2016-12-30  14.420000  14.500000  14.112000  14.246000  14.246000  69639000